/* Colors
#C2DEDC
#ECE5C7
#CDC2AE
#116A7B
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #c2dedc;
  align-items: center;
  padding: 0%;
  margin-bottom: 2rem;
}

.nav-title {
  margin-left: 2rem;
  color: #116a7b;
  cursor: pointer;
  user-select: none;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  margin-right: 5rem;
  gap: 5rem;
  font-weight: bold;
  font-size: large;
  color: #116a7b;
  justify-self: flex-end;
}

.nav-items div {
  cursor: pointer;
  user-select: none;
}

.footer {
  text-align: center;
  font-weight: 500;
  color: #116a7b;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  font-size: 1.25rem;
}

.read-more {
  font-weight: bold;
  /* border: 1px solid black; */
  color: #116a7b;
  background-color: #c2dedc;
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
}

.about,
.contact-us {
  font-size: 2rem;
  text-align: center;
}

.form-control{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 5rem;
}

.form-control *{
  margin: .5rem;
  display: block;
}

.form-control label {
  font-size: 1.2rem;
  font-weight: 700;
}